<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd">
  <!-- ================================================================= -->
  <!-- |                 Log4j Logs de l'application                   | -->
  <!-- ================================================================= -->
  <log4j:configuration xmlns:log4j="http://jakarta.apache.org/log4j/">
  	<appender name="default" class="org.apache.log4j.ConsoleAppender">
  		<param name="target" value="System.out" />
  		<layout class="org.apache.log4j.PatternLayout">
  			<param name="ConversionPattern"
  				value="[%p] %d{dd MMM hh:mm:ss.SSS aa} %t [%c]%n%m%n%n" />
  		</layout>
	    <!-- Filtrage des logs : LevelMax est INFO et LevelMin est Info pour n'avoir QUE les Infos logs -->
      <filter class="org.apache.log4j.varia.LevelRangeFilter">
        <param name="LevelMax" value="DEBUG" />
        <param name="LevelMin" value="DEBUG" />
      </filter>
  	</appender>

  <!--
		Conf pour Trace pour les mesures de perfs unitaires
	-->
	<appender class="org.apache.log4j.AsyncAppender" name="async-perfs">
		<!-- Nombre d'evenements possible dans la file d'attente -->
		<!-- param name="bufferSize" value="512"/ -->
		<appender-ref ref="perfs"/>
	</appender>

	<appender name="perfs" class="org.apache.log4j.FileAppender">
		<param name="File" value="${log.home}/logPerfs.log" />
		<param name="Append" value="false" />
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern"
				value="%d{ISO8601};%m%n" />
		</layout>
    <!-- Filtrage des logs : LevelMax est INFO et LevelMin est Info pour n'avoir QUE les Infos logs -->
    <filter class="org.apache.log4j.varia.LevelRangeFilter">
      <param name="LevelMax" value="DEBUG" />
      <param name="LevelMin" value="DEBUG" />
    </filter>
	</appender>
    
    <!--
		Conf pour Trace du 'web-app'
	-->
	<appender class="org.apache.log4j.AsyncAppender"	name="async-web-app">
		<!-- Nombre d'evenements possible dans la file d'attente -->
		<!-- param name="bufferSize" value="512"/ -->
		<appender-ref ref="web-app" />
	</appender>
	
	<appender name="web-app" class="biz.minaret.log4j.DatedFileAppender">
		<!-- Preciser le chemin pour les fichiers de log -->
		<param name="Directory" value="${log.home}" />
		<param name="Prefix" value="logWeb." />
		<param name="Append" value="false" />
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern"
				value="%d{ISO8601};%-5p;%m%n" />
			<!-- param name="ConversionPattern"
				value="[%d] [%t] %-5p [%c] %m%n" / -->
		</layout>
    <!-- Filtrage des logs : LevelMax est INFO et LevelMin est Info pour n'avoir QUE les Infos logs -->
    <filter class="org.apache.log4j.varia.LevelRangeFilter">
      <param name="LevelMax" value="ERROR" />
      <param name="LevelMin" value="INFO" />
    </filter>

	</appender>
	
	<!--
		Conf pour Trace du 'web-exceptions'
	-->
	<appender class="org.apache.log4j.AsyncAppender"	name="async-exception">
		<!-- Nombre d'evenements possible dans la file d'attente -->
		<!-- param name="bufferSize" value="512"/ -->
		<appender-ref ref="web-exceptions" />
	</appender>

	<appender name="web-exceptions"	class="biz.minaret.log4j.DatedFileAppender">
		<!-- Preciser le chemin pour les fichiers de log -->
		<param name="Directory" value="${log.home}" />
		<param name="Prefix" value="logWeb-exceptions." />
		<param name="Append" value="false" />
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern"
				value="[%d] [%t] %-5p [%c] %m%n" />
		</layout>
    <!-- Filtrage des logs : LevelMax est INFO et LevelMin est Info pour n'avoir QUE les Infos logs -->
    <filter class="org.apache.log4j.varia.LevelRangeFilter">
      <param name="LevelMax" value="ERROR" />
      <param name="LevelMin" value="ERROR" />
    </filter>

	</appender>
	
    <!-- Creation de l'appender appenderSystem pour les messages warn, fatal, error -->
    <appender name="appenderSystem" class="org.apache.log4j.RollingFileAppender">
      <param name="Threshold" value="WARN"/>
      <!-- nom du fichier et regles -->
      <param name="File" value="logSystem.log"/>
      <param name="Append" value="true"/>
      <!-- Taille max de la log -->
      <param name="MaxFileSize" value="100000KB"/>
      <!-- Nombre maxi de fichiers sur lequels s'effectue un roulement  -->
      <param name="MaxBackupIndex" value="1"/>
      <!-- Layout pattern -->
      <layout class="org.apache.log4j.PatternLayout">
        <param name="ConversionPattern" value="%d{dd MM yyyy HH:mm:ss} [%t] %p - %m%n"/>
      </layout>
      <!-- Filtrage des logs : LevelMax est INFO et LevelMin est Info pour n'avoir QUE les Infos logs -->
      <filter class="org.apache.log4j.varia.LevelRangeFilter">
        <param name="LevelMax" value="OFF" />
        <param name="LevelMin" value="OFF" />
      </filter>
    </appender>
    
    <!-- Creation de l'appender appenderSystem pour les messages info -->
    <appender name="appenderInfo" class="org.apache.log4j.RollingFileAppender">
      <!-- nom du fichier et regles -->
      <param name="File" value="logInformation.log"/>
      <param name="Append" value="true"/>
      <!-- Taille max de la log -->
      <param name="MaxFileSize" value="50000KB"/>
      <!-- Nombre maxi de fichiers sur lequels s'effectue un roulement -->
      <param name="MaxBackupIndex" value="1"/>
      <!-- Layout pattern -->
      <layout class="org.apache.log4j.PatternLayout">
        <param name="ConversionPattern" value="%d{dd MM yyyy HH:mm:ss} [%t] %p - %m%n"/>
      </layout>
      <!-- Filtrage des logs : LevelMax est INFO et LevelMin est Info pour n'avoir QUE les Infos logs -->
      <filter class="org.apache.log4j.varia.LevelRangeFilter">
        <param name="LevelMax" value="OFF" />
        <param name="LevelMin" value="OFF" />
      </filter>
    </appender>
    
    <!-- Creation de l'appender appenderSystem pour les messages debug -->
    <appender name="appenderDebug" class="org.apache.log4j.RollingFileAppender">
      <!-- nom du fichier et regles -->
      <param name="File" value="${log.home}/logDebug.log" />
      <param name="Append" value="true"/>
      <!-- Taille max de la log  -->
      <param name="MaxFileSize" value="50000KB"/>
      <!-- Nombre maxi de fichiers sur lequels s'effectue un roulement -->
      <param name="MaxBackupIndex" value="1"/>
      <!-- Layout pattern -->
      <layout class="org.apache.log4j.PatternLayout">
        <param name="ConversionPattern" value="%d{dd MM yyyy HH:mm:ss} [%t] %p - %m%n"/>
      </layout>
      <!-- Filtrage des logs : LevelMax est DEBUG et LevelMin est DEBUG pour n'avoir QUE les Infos debug -->
      <filter class="org.apache.log4j.varia.LevelRangeFilter">
        <param name="LevelMax" value="DEBUG" />
        <param name="LevelMin" value="DEBUG" />
      </filter>
    </appender>
    
    <logger name="net.sourceforge.stripes">
		  <level value="debug" />
		  <appender-ref ref="default"/>
	</logger>

	<category name="web-app">
		<appender-ref ref="web-app"/>
	</category>

	<category name="perfs">
		<appender-ref ref="perfs"/>
	</category>

    <!-- Definition du RootLogger -->
    <root>
      <level value ="debug"/>
      <!--<appender-ref ref="appenderSystem"/>-->
      <!--<appender-ref ref="appenderInfo"/>-->
      <appender-ref ref="appenderDebug"/>
      <!--
      <appender-ref ref="web-app"/>
      <appender-ref ref="perfs"/>
      -->
      <appender-ref ref="web-exceptions"/>
      
    </root>
  </log4j:configuration>
