<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">

<suite name="" verbose="2">
  <test name="Services Test">
   <groups>
      <run>
	  	<!--<include name="configuration"/>
        <include name="crud"/>
        <exclude name=""/>-->
      </run>
    </groups>

    <classes>
             <!--<class name="fr.nexter.gcr.test.affaire.AffaireTest"/>-->
        <!--<class name="fr.nexter.gcr.test.edition.EditionTest"/>-->
    </classes>
  </test>
</suite>
